body
{
    background-color: rgb(0,51,102);
    color: white;
    font-family: sans-serif;

}

.center 
{
    display: block;
    margin: 0 auto;
}

.textcenter
{
    text-align: center;
}

h1
{
    font-size: 45px;
}

address
{
    font-style: normal;
    font-weight: bold;

}
h2
{
    color: forestgreen;
    font-size: 30px;
    font-weight: bold;
}

h3
{
    font-size: 20px;
}
.footer
{
    background-color: #11244d;
    text-align: center;
}
a{
    color: red;
    background-color: transparent;
    text-decoration: underline;
 }
