h1 {
    color: rgb(255, 251, 0);
    font-size: 100px;
}
body {
    background-color: rgb(35, 154, 251);
}

p {
    color: crimson;
    font-size: 50px;
}

.heading {
    color: red;

}

.awesome{
    color:green;
    font-size: 70px;
}

#unique {
    color: greenyellow;
}